$primary: #EB7859;
$secondary: #A0E7E5;

//Body standard styling
body {
  margin: 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

  h1 {
    font-family: 'Courgette', cursive;
    color: $primary;
    font-size: 32px;
  }

  h2 {
    font-weight: bold;
    color: $primary;
    font-size: 26px;
  }
  p {
    font-size: 20px;
  }

  li {
    list-style-type: none;
    font-size: 20px; 
  }

  a {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  .content {
    width: 75%;
    margin: auto;
  }
  @media only screen and (max-width: 905px) {
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 24px;
    }
    p, li {
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 725px) {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    .content {
      width: 85%;
    }
  }
}
//Header styling
header {
  background-color: $secondary;
  display: flex;
  nav {
    width: 100%;
  }

  img {
    width: 125px;
  }

  ul {
    display: inline-flex;
    text-align: center;
    float: right;
    margin: 0;
    height: 100%;
    padding: 0;

    .navLinks {
      display: inline-flex;
    }

    button {
      display: none;
      height: 50px;
      margin-top: 40px;
      margin-right: 25px;
      border: none;
      background: transparent;
      i.material-icons {
        color: $primary;
        font-size: 50px;
      }
    }

    li {
      margin-top: 50px;
      margin-right: 20px;

      a {
        color: $primary;

        i.material-icons {
          display: none;
        }
      }
    }
    a:hover {
      text-decoration: underline;
      color: $primary;
      
      i.material-icons {
        display: inline;
      }
    }
  }
  @media only screen and (max-width: 810px) {
    ul {
      display: block;
      padding-right: 10px;
      position: absolute;
      right: 0;
      top: 0;
      background: $secondary;
      height: auto;
      padding-top: 130px;
      .navLinks {
        display: none;
      }
      .navLinks.open {
        display: block;
      }
      li {
        margin: 0;
        padding: 5px;
        padding-left: 40px;
      }
      button {
        display: block;
        position: absolute;
        right: 25px;
        margin: 0;
        top: 40px;
      }
    }
  }
}

//Footer Styling
footer {
  color: $primary;
  font-weight: bold;
  background-image: url("./components/images/footer.png");
  height: 566px;
  object-fit: cover;

  section {
    height: 250px;
    width: 90%;
    margin: auto;
    padding-top: 315px;

    p {
      margin: 0;
      float: left;
      width: 60%;
    }
    ul {
      float: right;
      width: 50%;
      text-align: right;
      padding: 0;
    }
    @media only screen and (max-width: 430px) {
      padding-top: 300px;
      ul, p {
        width: 100%;
      }
    }
  }
}

//banner styling
.banner{
  img{
    width: 100vw;
    object-fit: cover;
    max-height: 450px;
  }
  div {
    width: 375px;
    height: 200px;
    background-color: rgba(235,120,89,0.5);
    position: absolute;
    top: 175px;
    left: 40px;
    h3 {
      font-family: 'Courgette', cursive;
      color: white;
      font-size: 33px;
      text-align: center;
    }
  }
  @media only screen and (max-width: 800px) {
    div {
      width: 300px;
      height: 150px;
      h3 {
        font-size: 28px;
        margin: 25px;
      }
    }
  }
  @media only screen and (max-width: 650px) {
    div {
      width: 200px;
      height: 150px;
      h3 {
        font-size: 24px;
        margin: 10px;
      }
    }
  }
  @media only screen and (max-width: 525px) {
    div {
      width: 170px;
      height: 100px;
      left: 20px;
      top: 150px;
      h3 {
        font-size: 19px;
        margin: 0;
        margin-top: 5px;
      }
    }
  }
}

//Home page styling 
section.offer {
  background-color: $secondary;
  text-align: center;
  h2{
    margin: 0;
    padding: 2vh;
  }
}
.home section{
  background-color: $secondary;
  color: $primary;
  display: flex;
  width: 100%;
  margin: auto;
  img {
    height: 275px;
    width: auto;
    float: left;
  }
  div {
    padding-left: 10px;
    
  }
  @media only screen and (max-width: 825px) {
    img {
      height: 225px;
    }
  }
  @media only screen and (max-width: 700px) {
    width: 70%;
    display: block;
    border-radius: 0;
    img {
      width: 100%;
      height: auto;
    }
    div {
      width: 100%;
      padding-bottom: 5px;
      ul {
        padding: 0;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    width: 100%;
  }
}

//meet the team page styling
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;

  div{
    background-color: $secondary;
    color: $primary;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 10px;

    img {
      width: 200px;
      margin: auto;
      margin-top: 25px;
    }
    h2 {
      margin: 0;
      margin-top: 5px;
    }
    p {
      margin: 5px 10px;
    }
  }
}

//services page styling

.services div {
  width: 100%;
  margin-bottom: 15px;
  background-color: $secondary;
  height: 300px;
  color: $primary;
  img {
    height: 300px;
    width: 38%;
    object-fit: cover;
  }
  div {
    float: right;
    width: 60%;
    h3 {
      text-align: right;
      margin-right: 15px;
    }
  }
  
}

//gallery page styling

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(6, 200px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 10px;
  
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .grid1 {
    grid-column: 1;
    grid-row: 1;
  }
  .grid2 {
    grid-column: 1;
    grid-row: 2;
  }
  .grid3 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
  .grid4 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }
  .grid5 {
    grid-column: 3;
    grid-row: 3;
  }
  .grid6 {
    grid-column: 3;
    grid-row: 4;
  }
  .grid7 {
    grid-column: 1;
    grid-row: 5;
  }
  .grid8 {
    grid-column: 1;
    grid-row: 6;
  }
  .grid9 {
    grid-column: 2 / span 2;
    grid-row: 5 / span 2;
  }
}

//contact page styling
.content {
  .addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    ul {
      width: 250px;
    }
  }
  form {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    label {
      color: $primary;
      font-size: 16px;
      font-weight: bold;
    }
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
    }
    input[type=submit] {
      background-color: $primary;
      color: white;
      border: none;
      width: 100px;
      float: right;
      margin-top: 10px;
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}
